<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HLSforOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HTTPLiveStreaming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A81535421C677F920085E2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A81535771C6788D80085E2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A87435BD1C46219B0010D438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8B0EFAF1C69A30C0019EB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8BCAEF91C3B49CB000229C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
